doctype html
html(lang="en")
    head
        title MVC Ex Solution Landing Page
    body
        p 
            h4 Thanks for completing the survey!!!
        p You are being redirected to 
            a(href="/") homepage