<html>
    <head>
        <title>MVC Ex Solution Landing Page</title>
    </head>
    <body>
        <p>Best survey matches for <%= username %> best-to-worst:</p>
        <% if (rows.length == 0) {%>
            <p>There were no matches for <%= username %>.</p>
        <% } %>
        <p>
            <ol>
                <% for (i in rows) { row = rows[i]; %>
                    <li>User: <%= row.username %> matched <%= row.matches %> answers</li>
                <% } %>
            </ol>
        </p>
    </body>
</html>